*{
	margin: 0;
	padding: 0;
	border: none;
	border-width: 0px;
}

body,.wrapper{
	width: 100%;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

ul{
	list-style-type: none;
}

.cb{
	clear: both;
}

.nav{
	width: 100%;
	background: #333;
}

.nav-title,.nav-personal{
	list-style-type: none;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
}

.nav-title{
	float: left;
	margin-left: 30px;
}

.nav ul>li{
	display: block;
	height: 40px;
}

.nav ul>li p:hover{
	cursor: pointer;
	color: white;
}

.nav-title>span,li{
	float: left;
}

.nav-personal{
	float: right;
	margin-right: 30px;
}

.nav-personal>li,.nav-personal>span{
	float: right;
}

.shopping{
	position: relative;
	color: #b0b0b0;
	background: #424242;
	padding-left: 15px;
	margin-left: 20px;
	padding-right: 20px;
}

.shopping:hover{
	background: white;
	cursor: pointer;
	color: #ff6700;
}

.shopping-list{
	position: absolute;
	display: none;
	top: 40px;
	background: white;
	color: #424242;
	width: 276px;
	height: 98px;
	line-height: 98px;
	text-align: center;
	z-index: 100;
  	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
	right: 0;
}

.shopping-list:hover{
	cursor: default;
}

.nav-personal>li img{
	display: block;
	float: left;
	font-size: 20px;
	color: #b0b0b0;
	padding-top: 10px;
	margin-right: 5px;
}

.separator{
	font-family: sans-serif;
	margin: 0 0.5em;
	color: #424242;
}

.header{
	position: relative;
	width: 96.8%;
	height: 100px;
	margin: 0 auto;
}

.header-logo,.header-list,.search-box{
	position: absolute;
}

.header-logo{
	left: 0.8%;
	width: 55px;
	height: 55px;
	background: url('../images/mi-logo.png') 50% 50%;
	background-color: #ff6700;
	top: 22.5px;
	cursor: pointer;
}

.header-list{
	left: 19.5%;
}

li.product{
	color: #333;
	font-size: 16px;
	padding: 26px 10px 38px;
}

li.product p{
	cursor: pointer;
}

li.product:hover{
	color: #ff6700;
}

ul.products-list{
	list-style-type: none;
	padding: 12px 0 0 0px;
}

.search-box{
	position: absolute;
	right: 1%;
	top: 22.5px;
	width: 295px;
    height: 48px;
}

.search-box-text{
	display: block;
	position: absolute;
	width: 233px;
	height: 48px;
	border: 1px solid #ccc;
	outline:none;
	padding-left: 10px;
}

.search-box-button{
	display: block;
	position: absolute;
	width: 49px;
	height: 48px;
	right: 0;
	border: 1px solid #ccc;
	border-left: 0;
	background-color: white;
	cursor: pointer;
}

.search-box-button img{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 14px;
	left: 14.5px;
}

.search-box-tips-button{
	display: block;
	position: absolute;
	padding: 2px 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    top: 16px;
    cursor: pointer;
}

#btn1{
	right: 150px;
}

#btn2{
	right: 60px;
}

ul.search-tips-list{
	position: absolute;
	display: none;
	top: 50px;
	border: 1px solid #ff6700;
	border-top: none;
	width: 243px;
	list-style-type: none;
	margin: 0 auto;
	z-index: 10;
	background: white;
}

li.search-tip{
	cursor: pointer;
	display: block;
	width: 90%;
	padding: 6px 12px;
    font-size: 12px;
    color: #424242;
}

li.search-tip:hover{
	background: #fafafa;
}

li.search-tip p{
	display: inline-block;
}

p.tips-left{
	float: left;
}

p.tips-right{
	float: right;
	color: #b0b0b0;
}

.header-list-item{
	position: absolute;
	left: -1.7%;
/*	border-top: 1px solid #ccc;*/
	top: 100px;
	height: 0px;		/*111111111111111111111*/
	overflow: hidden;
	background: white;
	z-index: 100;
}

ul.products-entrance{
	list-style-type: none;
	text-align: center;
	padding: 0 2.4%;
	margin: 0 auto;
	text-align: center;
}

li.product-entrance{
	position: relative;
	font-size: 12px;
	display: block;
	width: 15%;
	margin: 0 1%;
}

#first-product{
	margin-left: 0;
}

#last-product{
	margin-right: 0;
}

.current-available{
	margin-top: -1px;
	display: inline-block;
	height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
    z-index: 100;
    margin-bottom: 12px;
}

.product-pic img{
	width: 160px;
	height: 110px;
	cursor: pointer;
	border: 0;
	margin: 0 auto;
}

.product-name{
	line-height: 20px;
	margin-top: 10px;
}

.product-name a{
	text-decoration: none;
	color: #333;
}

.product-price p{
	color: #ff6700;
}

ul.products-entrance .separator1{
	position: absolute;
	display: inline-block;
	width: 1px;
	height: 100px;
	background-color: #e0e0e0;
	top: 35px;
	right: -6.5%;
}

.all-products{
	cursor: pointer;
	position: relative;
	margin: 0 auto;
	z-index: 1;
}

.bg-pic{
	position: absolute;
	z-index: 2;
	height: 100%;
	left: 0;
	right: 0;
}

#bg-pic1{
	background: url('../images/caa9fd50-9bd1-441f-a6ad-6fb0f8e05599.jpg');
	z-index: 20;
	background-repeat:no-repeat; 
	background-size:100% 100% !important;
}

#bg-pic2{
	background: url('../images/5cfe796d-6344-470d-9398-bcdfb120004d.jpg');
	z-index: 10;
}

.slide-left{
	position: absolute;
	width: 41px;
    height: 69px;
    z-index: 30;
    background: url('../images/icon-slides.png') no-repeat -84px 50%;		/*-84px表示图片向左移84px*/
}

.slide-left:hover{
	background: url('../images/icon-slides.png') no-repeat 0px 50%;
}

.slide-right{
	position: absolute;
	width: 41px;
    height: 69px;
	right: 0;
	background: url('../images/icon-slides.png') no-repeat -125px 50%;
	z-index: 30;
	cursor: pointer;
}

.slide-right:hover{
	background: url('../images/icon-slides.png') no-repeat -42px 50%;
}

ul.ui-page{
	position: absolute;
	width: 200px;
	height: 18px;
	right: 30px;
	bottom: 30px;
	z-index: 90;
	text-align: right;
	cursor: default;
}

.li-wrapper{
	display: inline-block;
}

li.ui-page-item{
	display: block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
    transition: all .2s;
    cursor: pointer;
}

li.ui-page-item:hover{
	background: rgba(255,255,255,0.4) !important;
	border-color: rgba(0,0,0,0.4) !important;
}

.current-item{
	background: rgba(255,255,255,0.4) !important;
	border-color: rgba(0,0,0,0.4) !important;
}

ul.products-sort{
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.6);
	cursor: default;
	z-index: 100;
	list-style-type: none;
	color: #fff;
	font-style: 12px;
}

li.product-item{
	display: block;
	width: 100%;
	cursor: pointer;
}

.product-item:hover{
	background: #ff6700;
}

.right-slash{
	background: url('../images/右(1).png');
	width: 24px;
	height: 16px;
	float: right;
	margin-top: 2px;
}

.product-item-location{
	margin-left: 30px;
	margin-right: 20px;
}

.product-list{
	position: absolute;
	z-index: 999;
	height: 99.5%;
	background: white;
	width: 500px;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
	border: 1px solid #e0e0e0;
	display: none;
	/*width in js*/
}

ul.list li img{
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
}

ul.list li p{
	position: absolute;
	display: inline-block;
	color: #333;
}

ul.phone-list{
	margin-left: 5px;
	height: 100%;
	list-style-type: none;
	float: left;
	width: 265px;
	margin-top: 1%;
	cursor: default;
}

li.phone-list-item{
	float: left;
	display: block;
	position: relative;
	width: 90%;
	height: 16%;
	cursor: pointer;
}

#all-phone{
	position: absolute;
	z-index: 9999;
}

.product-info{
	position: relative;
	width: 100%;
	height: 100%;
	padding-left: 5px;
}

.purchase{
	position: absolute;
	display: block;
	width: 58px;
    height: 22px;
    line-height: 22px;
    right: 10px;
    text-align: center;
    border: 1px solid #ff6700;
    color: #ff6700;
    transition: all .2s;
}

.purchase:hover{
	color: white;
	background: #ff6700;
}

.channel{
	position: relative;
	height: 170px;
	margin: 0 auto;
	margin-top: 15px;
}

.channel-list{
	position: absolute;
	height: 100%;
	border: 1px solid black;
	background: #5f5750;
}

ul.home-channel-list{
	width: 100%;
	height: 100%;
	list-style-type: none;
}

li.home-channel-list-item{
	position: relative;
	display: block;
}

.vertical-separator{
	position: absolute;
	display: block;
	width: 1px;
	height: 70px;
	background: #665e57;
	right: 0px;
	top: 8px;
}

.horizontal-separator{
	position: absolute;
	display: block;
	width: 64px;
	height: 1px;
	background: #665e57;
	right: 10px;
	bottom: 0px;
}

div.channel-content{
	position: absolute;
	width: 92%;
	text-align: center;
	margin: 0 auto;
	color: rgba(255,255,255,0.7);
	top: 15px;
	cursor: pointer;
	font-size: 12px;
}

.channel-content:hover{
	color: #fff;
}

.channel-pic{
	position: absolute;
	height: 100%;
	/*width in js*/
	right: 0;
}

ul.channel-pic-list{
	list-style-type: none;
	width: 100%;
	height: 100%;
}

li.channel-pic-list-content{
	position: absolute;
	display: block;
	height: 100%;
	width: 32.4%;
	cursor: pointer;
}

li.channel-pic-list-content img{
	width: 100%;
	height: 100%;
	transition: all .2s;
}

.gift{
	height: 438px;
	margin: 0 auto;
	margin-top: 40px;
}

.gift-title{
	position: relative;
	width: 100%;
	height: 58px;
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

p.gift-title-tips{
	display: inline-block;
	width: 75%;
}

.slide-direction{
	position: absolute;
	display: inline-block;
	width: 20%;
	right: 0px;
	text-align: right;
}

.slide-direction img{
	font-size: 0;
	width: 18px;
	height: 12px;
	border: 1px solid #e0e0e0;
	margin: 0;
	padding: 5px 7px;
}

#right-slide{
	cursor: pointer;
}

.gift-content{
	height: 340px;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
}

ul.gift-content-list{
	list-style-type: none;
	width: 200%;
	height: 100%;
}

li.gift-card{
	display: block;
	height: 95%;
	width: 9%;
	margin: 0 0.625%;
	background: #fafafa;
	text-align: center;
	padding-top: 39px;
	padding-bottom: 35px;
/*	transition: all .2s;*/
}

.gift-pic{
	width: 160px;
	height: 160px;
	cursor: pointer;
}

.gift-name{
	color: #212121;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	cursor: pointer;
}

.gift-intro{
	height: 18px;
	margin: 0 10px 12px;
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 15px;
	color: #b0b0b0;
	width: 90%;
}

.gift-price{
	color: #ff6709;
}

#left-first,#right-first{
	margin-left: 0;
}

.one{
	border-top: 1px solid #ffac13;
}

.two{
	border-top: 1px solid #83c44e;
}

.three{
	border-top: 1px solid #2196f3;
}

.four{
	border-top: 1px solid #e53935;
}

.five{
	border-top: 1px solid #00c0a5;
	margin-right: 0 !important;
}

.second-wrapper{
	background: #f5f5f5;
	padding-top: 80px;
	margin: 0 auto;
	width: 100%;
}

.my-gift{
	position: relative;
	margin: 0 auto;
}

.gift-title{
	position: relative;
}

.gift-slide{
	position: absolute;
	right: 0;
	cursor: pointer;
}

.gift-right{
	position: absolute;
	display: inline-block;
	width: 22px !important;
	height: 22px !important;
	border: none !important;
	padding: 0;
	padding-left: 5px;
	right: 0;
}

.gift-word{
	position: absolute;
	display: inline-block;
	font-size: 16px;
	color: #424242;
	right: 29px;
	top: 0;
}

.my-gift-cards{
	margin-top: 10px;
}

.my-gift-card{
	width: 100%;
	float: left;
	background: white;
	width: 18.5%;
	margin:  0 0.9375%;
	text-align: center;
}

.space{
	width: 18.5%;
	background: rgba(255,255,255,0);
	float: left;
}

#first-gift-card{
	margin-left: 0;
	height: 200px;
}

#first-gift-card img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.line1 img,.line2 img{
	width: 160px;
	height: 160px;
	cursor: pointer;
}

#line1-last,#line2-last{
	margin-right: 0;
}

.flag{
	margin: 0 10px 14px;
	text-align: center;
	display: block;
	background-color: #2196f3;
	width: 64px;
    height: 20px;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}

.gift-name{
	display: block;
	color: #333;
	cursor: pointer;
	font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
}

.gift-tips{
	margin: 0 10px 10px;
	height: 18px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0;
    margin-top: 2px;
}

.gift-price{
	margin: 0 10px 14px;
	text-align: center;
    color: #ff6700;
    font-size: 14px;
}

s{
	color: #ccc;
}

#addition{
	background-color: #2196f3;
}

#on-sale{
	background-color: #e53935;
}

#free-deliver{
	background-color: #ffac13;
}

#new{
	background-color: #83c44e;
}

/*******************  public css start  ********************/

.title{
	width: 100%;
	position: relative;
	height: 58px;			/*total height added*/
	margin-bottom: 10px;	/*total height added*/
}

.title-tips{
	display: inline-block;
	position: absolute;
	left: 0;
	text-align: left;
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

ul.title-items{
	position: absolute;
	list-style-type: none;
	display: inline-block;
	right: 0;
	text-align: right;
}

li.title-item{
	display: block;
	margin: 0 0 0 30px;
	color: #424242;
	border-bottom: 2px solid transparent;
	transition: border-color .5s;
    cursor: pointer;
    font-size: 16px;
    padding-top: 18px;
}

.active-title{
	color: #ff6700 !important;
    border-bottom: 2px solid #ff6700 !important;
}

.card{
	/*width and height in js*/
	background: white;
	float: left;
	margin: 0 0.875%;
	text-align: center;
	position: relative;
}

.separator-card{
	float: left;
	width: 18.6%;
	height: 15px;
	margin: 0 0.875%;
	background: #f5f5f5;
}

.first-in-line1,.first-in-line2{
	margin-left: 0;
}

.last-in-line1,.last-in-line2{
	margin-right: 0;
}

.last-separator-card{
	margin-right: 0;
}

.card>img{
	width: 150px;
	height: 150px;
	cursor: pointer;
}

.first-in-line1>img,.first-in-line2>img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.label{
	display: block;
    width: 64px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(131, 196, 78);
    margin: 0 auto;
    margin-bottom: 15px;
}

.card .name{
	color: rgb(51, 51, 51);
	cursor: pointer;
}

.card .price{
	text-align: center;
    color: rgb(255, 103, 0);
    margin: 0px 10px 10px;
}

.card .population{
	font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(176, 176, 176);
    margin: 0px 10px;
    overflow: hidden;
}

.card .comment{
	position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 3;
    width: 100%;
    height: 0px;	/*to 85*/
    font-size: 12px;
    opacity: 0;		/*to 1*/
    overflow: hidden;
    background: rgb(255, 103, 0);
    transition: all 0.2s linear;
    cursor: pointer;
}

.comment-content{
	margin-bottom: 5px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 8px 30px 0px;
}

.comment-author{
	text-align: left;
	padding: 0px 30px;
	color: rgba(255, 255, 255, 0.6);
}

.new-product{
	background-color: rgb(131, 196, 78) !important;
}

.cheaper-price{
	background-color: rgb(229, 57, 53) !important;
}

.free-fee{
	background-color: rgb(255, 172, 19) !important;
}

.hide{
	visibility: hidden !important;
}

.aaa-intro{
	display: block;
	position: absolute;
	top: 40px;
	left: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(51, 51, 51);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    width: 94px;
    text-align: left;
}

.aaa-price{
	font-size: 12px;
    color: rgb(255, 103, 0);
    position: absolute;
    top: 65px;
    left: 30px;
}

.aaa{
	width: 80px !important;
	height: 80px !important;
	position: absolute;
	right: 10px;
	top: 30px;
}

.bbb-intro{
	display: block;
	position: absolute;
	top: 40px;
	left: 30px;
    cursor: pointer;
    width: 94px;
    text-align: left;
    font-size: 18px;
    color: rgb(51, 51, 51);
}

.bbb-price{
    position: absolute;
    top: 65px;
    left: 30px;
    font-size: 12px;
    color: rgb(117, 117, 117);
    cursor: pointer;
}

.bbb{
	width: 48px !important;
	height: 48px !important;
	position: absolute;
	right: 35px;
	top: 30px;
}



/*******************  public css end  ********************/

.listening-cards{
	width: 100%;
	/*height*/			/*total height added*/
}

.listening{
	height: 1500px;			/*total height added to get this*/
	margin:  0 auto;
	margin-top: 40px;
}

.parts{
	height: 1500px;			/*total height added to get this reset*/
	margin:  0 auto;
	margin-top: 40px;
}

.neighbouring{
	height: 1500px;			/*total height added to get this reset*/
	margin:  0 auto;
	margin-top: 40px;
}

#introduce-right-slide:hover{
	cursor: pointer;
}

.introduce-list .gift-card{
	background: white;
	border: none;
}

.introduce-list .gift-card:hover{
	transform: translate3d(0, -2px, 0);
	transition: all 0.2s linear;
}

.hot-products{
	height: 1340px;				/*in js reset*/
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
}

ul.hot-lists{
	list-style-type: none;
}

li.hot-list{
	display: block;
	width: 24.19%;
	/*height in js reset*/
	margin: 0 0.5%;
	background: white;
	padding-bottom: 30px;
	transition: all .2s linear;
}

li.hot-list:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0);
}

.first-hot{
	margin-left: 0 !important;
}

.last-hot{
	margin-right: 0 !important;
}

li.hot-list>img{				/*height added*/
	width: 100%;
	cursor: pointer;
	font-size: 0;
}

.hot-conment{
	display: block;
	color: #333;
	cursor: pointer;
	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    height: 72px;				/*height added*/
    margin: 0 28px 22px;		/*height added*/
    overflow: hidden;
    padding-top: 28px;
}

.hot-author{
	position: relative;
	display: block;
    -webkit-margin-before: 1em;	/*height added*/
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    height: 18px;				/*height added*/
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}

.hot-info{
	margin: 0 30px;				/*height added*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hot-info>h3{
	color: #333;
	cursor: pointer;
	font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    display: inline-block;
}

.sep{
	color: #e0e0e0;
	font-family: sans-serif;
    margin: 0px 0.25em;
}

.hot-price{
	display: inline;
    margin: 0;
    color: #ff6700;
}

.dimension{
/*	height: 1340px;		*/		/*in js reset*/
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	padding-top: 20px;
}

ul.dimension-lists{
	list-style-type: none;
}

li.dimension-list{
	display: block;
	position: relative;
	width: 24.19%;
	height: 400px;
	/*height in js reset*/
	margin: 0 0.5%;
	background: white;
	padding-bottom: 30px;
	transition: all .2s linear;
	padding: 45px 0 0;
	margin-bottom: 14px;
    background: #fff;
    overflow: hidden;
    text-align: center;
}

.first-dimension{
	margin-left: 0 !important;
}

.last-dimension{
	margin-right: 0 !important;
}

li.dimension-list:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0);
}

#dimension1{
	border-top: 1px solid #ffac13;
}

#dimension2{
	border-top: 1px solid #83c44e;
}

#dimension3{
	border-top: 1px solid #e53935;
}

#dimension4{
	border-top: 1px solid #2196f3;
}

p.dimension-title{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffac13;
}

p.dimension-name{
	display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
}

p.desc{
	color: #b0b0b0;
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    margin-top: 0.5em;
}

p.dimension-price{
	color: #333;
	height: 21px;
    margin: 0 10px 15px;
    text-align: center;
    margin: 1em 0;
    cursor: pointer;
}

.dimension-pic{
	width: 216px;
    height: 154px;
    cursor: pointer;
    text-align: center;
}

.dimension-left-slide,.dimension-left-slide-4{
	position: absolute;
	left: 0;
	top: 45%;
	margin-top: -40px;
	transition: all .6s;
	width: 20px;
	height: 48px;
	line-height: 50px;
	background-color: #ccc;
	opacity: 0;
	cursor: default;
	z-index: 1000;
}

.dimension-left-slide:hover,.dimension-left-slide-4:hover{
	background: #757575;
}

.dimension-right-slide,.dimension-right-slide-4{
	position: absolute;
	right: 0;
	top: 45%;
	margin-top: -40px;
	transition: all .6s;
	width: 20px;
	height: 48px;
	line-height: 50px;
	background-color: #ccc;
	opacity: 0;
	cursor: pointer;
	z-index: 1000;
}

.dimension-right-slide:hover,.dimension-right-slide-4:hover{
	background: #757575;
}

.dimension-left-slide>img,.dimension-left-slide-4>img{
	width: 18px;
	height: 15px;
}

.dimension-right-slide>img,.dimension-right-slide-4>img{
	width: 18px;
	height: 15px;
}

ul.dimension-cards{
	position: relative;
}

li.dimension-card,.dimension-card-4{
	position: absolute;
	z-index: 100;
}

ul.dimension-switch,ul.dimension-switch-4{
	position: absolute;
	bottom: 50px;
	margin: 0 auto;
	left: 50%;
}


ul.dimension-switch li.switch-point{
	display: block;
	width: 0;
	height: 0;
	border: 3px solid #b0b0b0;
	border-radius: 50%;
	cursor: pointer;
}

ul.dimension-switch-4 li.switch-point-4{
	display: block;
	width: 0;
	height: 0;
	border: 3px solid #b0b0b0;
	border-radius: 50%;
	cursor: pointer;
}

li.switch-point:hover,li.switch-point-4:hover{
	border-color: #ff6700 !important;
}

.current-point,.current-point-4{
	width: 5px !important;
	height: 5px !important;
	background: white !important;
	border-color: #ff6700 !important;
	margin-top: -2px !important;
	cursor: default !important;
}

ul.dimension-switch .point1{
	margin-left: -30px;
}

ul.dimension-switch .point2{
	margin-left: -3px;
}

ul.dimension-switch .point3{
	margin-left: 21px;
}

ul.dimension-switch-4 .point1-4{
	margin-left: -55px;
}

ul.dimension-switch-4 .point2-4{
	margin-left: -15px;
}

ul.dimension-switch-4 .point3-4{
	margin-left: 15px;
}

ul.dimension-switch-4 .point4-4{
	margin-left: 30px;
}

.dimension-more{
	border:1px solid #ffac13;
    background: #fff;
    color: #ffac13;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    margin: 0 auto;
    margin-bottom: 35px;
    cursor: pointer;
    transition: all .4s;
}

.dimension-more:hover{
	color: #fff;
    background-color: #ff920f;
    border-color: #ff920f;
}

.theme{
	color: #83c44e !important;
	border-color: #83c44e !important;
}

.theme-more:hover{
	background-color: #83c44e;
	color: white !important;
}

.game{
	color: #e53935 !important;
	border-color: #e53935 !important;
}

.game-more:hover{
	background-color: #e53935;
	color: white !important;
}

.application{
	color: #2196f3 !important;
	border-color: #2196f3 !important;
}

.application-more:hover{
	background-color: #2196f3;
	color: white !important;
}

.video{
	margin-top: 20px;
	margin: 0 auto;
	height: 1000px;
}

ul.video-lists{
	width: 100%;
}

li.video-list{
	display: block;
	width: 24%;
	background: white;
	margin: 0 0.6666666%;
	transition: all .2s linear;
	position: relative;
}

li.video-list:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -2px, 0);
}

li.video-list>img{
	width: 100%;
	cursor: pointer;
}

li.video-list>a{
	display: block;
	color: #333;
	text-decoration: none;
	cursor: auto;
	font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-top: 18px;
}

li.video-list>a:hover{
	color: #ff6700;
}

li.video-list>p{
	height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
    display: block;
    margin:  0 auto;
    text-align: center;
    margin-top: 0.5em;
}

.first-video{
	margin-left: 0 !important;
}

.last-video{
	margin-right: 0 !important;
}

.play{
	position: absolute;
	width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    line-height: 20px;
    left: 20px;
    transition: all .2s linear;
    cursor: pointer;
}

.play img{
	width: 10px;
	height: 10px;
}

.footer{
	background: white;
}

ul.footer-service{
	margin: 0 auto;
	text-align: center;
	height: 55px;
	width: 96%;
	padding-top: 30px;
	border-bottom: 1px solid #e0e0e0;
}

li.service-item{
	position: relative;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 19.9%;
	border-right: 1px solid #ccc;
}

li.service-item>img{
	position: absolute;
	cursor: pointer;
	width: 24px;
	height: 24px;
	line-height: 25px;
}

li.service-item>p{
	display: inline-block;
	color: #616161;
	cursor: pointer;
	transition: color .2s;
	font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.last-service-item{
	border-right: none !important;
}

.footer-links{
	width: 100%;
	height: 150px;
	padding: 40px 0 20px;
	width: 96%;
	margin: 0 auto;
}

.col-links{
	width: 13%;
	text-align: left;
	display: inline-block;
}

.last-col-links{
	border-right: 1px solid #e0e0e0 !important;
}

dt{
	margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

dd{
	color: #757575;
	cursor: pointer;
	font-size: 12px;
	margin: 10px 0 0;
	cursor: pointer;
}

dd:hover{
	color: #ff6700;
}

.col-contact{
	display: inline-block;
	width: 19%;
	text-align: center;
	transition: all .2s;
}

.tel{
	margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.available-time{
	font-size: 12px;
	color: #616161;
}

.custom-service{
	position: relative;
	border-color: #ff6700;
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    display: inline-block;
    cursor: pointer;
    transition: all .4s;
    border: 1px solid #ff6700;
    margin-top: 20px;
}

.custom-service img{
	position: absolute;
	width: 12px;
	height: 12px;
	left: 10px;
	top: 8px;
}

.custom-service p{
	position: absolute;
	left: 24px;
}

.site-info{
	background: #fafafa;
	padding: 30px 0;
    font-size: 12px;
}

.site-info-intro{
	width: 96%;
	margin: 0 auto;
}

.site-info-intro .mi-logo{
	font-size: 0;
	width: 57px;
	height: 57px;
	display: inline-block;
	float: left;
}

ul.xiaomi-sites{
	float: left;
	display: inline-block;
	list-style-type: none;
	padding-right: 35px;
	padding-left: 8px;
}

li.xiaomi-site{
	display: block;
	float: left;
	color: #757575;
	cursor: pointer;
	line-height: 18px;
	font-size: 12px;
}

.sepa{
	display: block;
	float: left;
	width: 1px;
	height: 11px;
	margin: 3px 6px;
	background: #ccc;
}

.official-img{
	display: inline-block;
	float: left;
	width: 83px;
	height: 23px;
	margin: 8px 3px;
	cursor: pointer;
}

.official-text,.official-text a{
	display: inline-block;
	float: left;
	margin: 0;
    line-height: 18px;
    color: #b0b0b0;
    font-size: 12px;
}

.official-text span{
	display: inline-block;
	float: left;
}

.site-info a{
	text-decoration: none;
}

.xiaomi-site p{
	cursor: pointer;
}

.xiaomi-site p:hover,.official-text a:hover{
	color: #ff6700;
}

.site-info-icon{
	width: 96%;
	text-align: center;
	padding-top: 40px;
}

.site-info-icon img{
	width: 267px;
	height: 19px;
}
