*{
	margin: 0;
	padding: 0;
}

body,.wrapper{
	width: 100%;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	border: none;
}

.cb{
	clear: both;
}

.nav{
	width: 100%;
	background: #333;
}

.nav-title,.nav-personal{
	list-style-type: none;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
}

.nav-title{
	float: left;
	margin-left: 30px;
}

.nav ul>li{
	display: block;
	height: 40px;
}

.nav ul>li p:hover{
	cursor: pointer;
	color: white;
}

.nav-title>span,li{
	float: left;
}

.nav-personal{
	float: right;
	margin-right: 30px;
}

.nav-personal>li,.nav-personal>span{
	float: right;
}

.shopping{
	position: relative;
	color: #b0b0b0;
	background: #424242;
	padding-left: 15px;
	margin-left: 20px;
	padding-right: 20px;
}

.shopping:hover{
	background: white;
	cursor: pointer;
	color: #ff6700;
}

.shopping-list{
	position: absolute;
	display: none;
	top: 40px;
	background: white;
	color: #424242;
	width: 276px;
	height: 98px;
	line-height: 98px;
	text-align: center;
	z-index: 100;
  	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
	right: 0;
}

.shopping-list:hover{
	cursor: default;
}

.nav-personal>li img{
	display: block;
	float: left;
	font-size: 20px;
	color: #b0b0b0;
	padding-top: 10px;
	margin-right: 5px;
}

.separator{
	font-family: sans-serif;
	margin: 0 0.5em;
	color: #424242;
}

.header{
	position: relative;
	width: 96.8%;
	height: 100px;
	margin: 0 auto;
}

.header-logo,.header-list,.search-box{
	position: absolute;
}

.header-logo{
	left: 0.8%;
	width: 55px;
	height: 55px;
	background: url('../images/mi-logo.png') 50% 50%;
	background-color: #ff6700;
	top: 22.5px;
}

.header-list{
	left: 19.5%;
}

li.product{
	color: #333;
	font-size: 16px;
	padding: 26px 10px 38px;
}

li.product p{
	cursor: pointer;
}

li.product:hover{
	color: #ff6700;
}

ul.products-list{
	list-style-type: none;
	padding: 12px 0 0 0px;
}

.search-box{
	border: 1px solid #ccc;
	right: 5%;
}

.header-list-item{
	position: absolute;
	left: -1.7%;
/*	border-top: 1px solid #ccc;*/
	top: 100px;
	height: 0px;		/*111111111111111111111*/
	overflow: hidden;
	background: white;
}

ul.products-entrance{
	list-style-type: none;
	text-align: center;
	padding: 0 2.4%;
	margin: 0 auto;
	text-align: center;
}

li.product-entrance{
	position: relative;
	font-size: 12px;
	display: block;
	width: 15%;
	margin: 0 1%;
}

#first-product{
	margin-left: 0;
}

#last-product{
	margin-right: 0;
}

.current-available{
	margin-top: -1px;
	display: inline-block;
	height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
    z-index: 100;
    margin-bottom: 12px;
}

.product-pic img{
	width: 160px;
	height: 110px;
	cursor: pointer;
	border: 0;
	margin: 0 auto;
}

.product-name{
	line-height: 20px;
	margin-top: 10px;
}

.product-name a{
	text-decoration: none;
	color: #333;
}

.product-price p{
	color: #ff6700;
}

ul.products-entrance .separator1{
	position: absolute;
	display: inline-block;
	width: 1px;
	height: 100px;
	background-color: #e0e0e0;
	top: 35px;
	right: -6.5%;
}